<div class="container">
    <div class="grid-even-header">
        <div class="header">
            <h2 class="header-tagline">Work with us and build scalable apps, websites, and data analytics for your bussiness. </h2>
        </div>
        <p class="header-description pt-2">Too many people believe that a they need to spend more time on research and development before launching their product. We believe that speed and iteration is key: We will help you launch your product as soon as possible and help you with iteration to improve to be scalable and sustainable in the long run.</p>
    </div>
    <main>
        <article class="testimonial-grid">
            <div>
                <h2 >1. Client-Centric Approach</h2>
                <p class="position">We will work with you to clarify and focus your product to prevent feature crawl from an early stage of your business. We will help you identify your goals and target customers, and enable fast iteration and increase efficiency.</p>
            </div>
            <img class="img-fluid img" src="assets/green-cubes.gif" alt="Meet Naoto and Cynthia"/>
        </article>
        <article class="testimonial-grid ">
            <img class="img-fluid img" src="assets/green-cubes.gif" alt="Meet Naoto and Cynthia"/>
            <div >
                <h2 >2. Innovative Solutions</h2>
                <p class="position">By prioritizing continuous learning and exploration, we ensure that our team is well-versed in the latest technologies and trends, allowing us to deliver cutting-edge solutions that meet the evolving needs of our clients in today's dynamic and rapidly changing digital landscape</p>
            </div>
        </article>
        <article class="testimonial-grid">
            <div >
                <h2 >3. Communication and Transparency</h2>
                <p class="position"> transparent communication is ingrained in our ethos. We prioritize clear, open lines of communication to keep our clients informed at every stage of the project. Coupled with our commitment to cost-effectiveness, this ensures that our clients not only receive high-quality solutions but also have a clear understanding of the value they're receiving, fostering trust and successful, budget-conscious collaborations.</p>
            </div>
            <img class="img-fluid img" src="assets/green-cubes.gif" alt="Meet Naoto and Cynthia"/>
        </article>
    </main>
</div>