<div class="container">
    <div class="grid-even-header">
        <div class="header">
            <h2 class="header-tagline">Work with us and build a scalable digital product for your business.</h2>
        </div>
        <p class="header-description pt-2">Too many people believe that they need to spend more time on research and development before launching their product. We believe that speed and iteration is key: We will help you launch your product as soon as possible and help you with iteration to improve to be scalable and sustainable in the long run.</p>
    </div>
    <main>
        <article class="testimonial-grid">
            <div>
                <h2 >1. Fast Iterations</h2>
                <p class="position">Clarify and focus your product to prevent feature crawl from an early stage of your business. We will help you identify your goals and target customers fast.</p>
            </div>
            <img class="img-fluid img" src="assets/green-cubes.gif" alt="Meet Naoto and Cynthia"/>
        </article>
        <article class="testimonial-grid ">
            <img class="img-fluid img" src="assets/green-cubes.gif" alt="Meet Naoto and Cynthia"/>
            <div >
                <h2 >2. Innovative Solutions</h2>
                <p class="position">Our focus on continuous learning ensures our team delivers innovative, up-to-date solutions in the rapidly changing digital landscape.</p>
            </div>
        </article>
        <article class="testimonial-grid">
            <div >
                <h2 >3. Communication and Transparency</h2>
                <p class="position">We foster trust and efficient collaborations through our commitment to transparent, cost-effective communication, ensuring clients are informed and receive great value.</p>
            </div>
            <img class="img-fluid img" src="assets/green-cubes.gif" alt="Meet Naoto and Cynthia"/>
        </article>
    </main>
</div>