<div class="container">
    <div class="grid-even-header">
        <div class="header">
            <h2 class="header-tagline">Work with us and build scalable apps, websites, and data analytics for your business. </h2>
            <!-- <h1 class="header pt-1">From <span class="span-bland">BLAND</span> to <span class="h1-grand">GRAND</span></h1> -->
        </div>
        <p class="header-description pt-2">Too many people believe that a they need to spend more time on research and development before launching their product. We believe that speed and iteration is key: We will help you launch your product as soon as possible and help you with iteration to improve to be scalable and sustainable in the long run.</p>

    </div>
    <main>
        <article class="testimonial-grid">
            <div>
                <h2 >1. Fast iteration</h2>
                <p class="position">We will work with you to clarify and focus your product to prevent feature crawl from an early stage of your business. We will help you identify your goals and target customers, and enable fast iteration and increase efficiency.</p>
            </div>
            <img class="img-fluid img" src="assets/green-cubes.gif" alt="Meet Naoto and Cynthia"/>
        </article>
        <article class="testimonial-grid ">
            <img class="img-fluid img" src="assets/green-cubes.gif" alt="Meet Naoto and Cynthia"/>
            <div >
                <h2 >2. Scalablility</h2>
                <p class="position">We will guide you through the first stages of your business to help you plan to scale your business for the future.</p>
            </div>
        </article>
        <article class="testimonial-grid">
            <div >
                <h2 >3. Sustainabiliy</h2>
                <p class="position">Being able to sustain your product is important. We can provide services to sustain your product, and will streamline any onboarding process so you won't have to spend months training new employees.</p>
            </div>
            <img class="img-fluid img" src="assets/green-cubes.gif" alt="Meet Naoto and Cynthia"/>
        </article>
    </main>


</div>