<ng-container class="container-fluid">
    <div class="row pt-3 text-center menu">
        <div class="col-8">
            <div class ="img-cointainer">
                <img src="../../../../assets/home-page-banner.JPG" class="img-fluid center-cropped" alt="Banner">
            </div>
        </div>
        <div class="col-1">
            <a href="#0">About Us</a>
        </div>
        <div class="col-1">
            <a href="#0">Our Services</a>
        </div>
        <div class="col-1">
            <a href="#0">Contact Us</a>
        </div>
    </div>
</ng-container>