<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow-sm p-3 mb-5 bg-body">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <i class="bi bi-brilliance"></i>
        Spice IT Consulting
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a routerLink = "about-us" class="nav-link active" aria-current="page">About Us</a>
          <a class="nav-link active" aria-disabled="true">Our Service</a>
          <a class="nav-link active" aria-disabled="true">Pricing</a>
          <a class="nav-link active" aria-disabled="true">Contact</a>
        </div>
      </div>
    </div>
</nav>