@import '../../../../styles.scss';

.container {
    color: $light;
}

.grid-even-header {
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 2rem;
}

.grid-even-columns {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.grid-even-columns-article {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);
}

.article {
    padding: 1rem;
    background-color: $gray-700;
    border-radius: 0.5rem;
    filter: drop-shadow(-10px 10px 1px #212121);
    text-align: center;
    &-header {
        font-family: 'Times New Roman', Times, serif;
    }
    &-icon {
        font-size: 4rem;
    }
    &-description {
        font-weight: lighter
    }
    &-link {
        text-decoration: none;
    }
}

a:hover {
    i {
        transform: translateX(0.5rem);
        transition: 0.3s;
    }
}


.header {
    font-family: 'Times New Roman', Times, serif;
    &-sub {
        color: $gray-600;
        width: 100%;
    }
}

h4 {
    font-weight: lighter;
}

.icon {
    color: #ffffff;
    size: 1rem;
    font-size: 4rem;
    box-shadow: 1rem;
}
