@import '../../../../styles.scss';

.container {
    color: $light;
}

.grid-even-header {
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 2rem;
}

.grid-even-columns {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}



.header {
    font-family: 'Times New Roman', Times, serif;
    &-sub {
        color: $gray-600;
        width: 100%;
    }
}

.icon {
    color: #ffffff;
    size: 1rem;
    font-size: 4rem;
    box-shadow: 1rem;
}


.flow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    transition: color 2s ease-out 100ms;
    :hover {
        transform: scale(1.2);
        transition: 0.5s;
    }
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    &-phone {
        text-align: center;
        grid-template-rows: repeat(1, 1fr);
    }
}

