<div class="container d-flex flex-column pt-2 align-items-center justify-content-center">
    <ng-container *ngIf="link; else noLink">
        <div class="img-cropper">
            <a href="{{link}}"><img class="img-fluid img" src="{{imgSrc}}" alt=""/></a>
        </div>
    </ng-container>
    <ng-template #noLink>
        <div class="img-cropper">
            <img class="img-fluid img" src="{{imgSrc}}" alt=""/>
        </div>
    </ng-template>    

        <h4 class="pt-2">{{name}}</h4>
        <p>{{title}}</p>
        <p class="text">{{description}}</p>
</div>