@use '@angular/material' as mat;
@import '../../../../styles.scss';

.container {
    border-radius: 1rem;
    background-color: $gray-800;
    @include mat.elevation(12);
}

.img-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.text {
    color: $gray-500;
}