<div class="container">
    <div class="grid-even-header">
        <div class="header">
            <h2 class="header-tagline">How can we help you?</h2>
        </div>
        <p class="header-description pt-1">Looking to digitalize your product and increase your online visibility and reach? We can help!</p>
    </div>
    <main>

        <div class="grid-even-columns-article">
            <article class="article">
                <i class="fa fa-solid fa-code fa-xl article-icon p-2"></i>
                <h5 class="article-description"><b>Web Development</b></h5>
                <p class="article-details">We can help build a website to provide a digital storefront to showcase products or services, reach a wider audience, and establish credibility in their market.</p>
                <!-- <a class="article-link" href="mailto:spiceitglobal@gmail.com">spiceitglobal@gmail.com &nbsp;&nbsp;<i class="fa fa-long-arrow-right article-link-icon"></i></a> -->
            </article>
            <article class="article">
                <i class="fa fa-brands fa-apple fa-xl article-icon p-2"></i>
                <h5 class="article-description"><b>IOS Development</b></h5>
                <p class="article-details">Offer your customers with personalized experiences, easy access to services, and efficient communication on Apple devices.</p>
                <!-- <a class="article-link" href="tel:+46763465979"><b>Sweden:</b> +46 76 346 5979 &nbsp; <i class="fa fa-long-arrow-right article-link-icon"></i></a> <br>
                <a class="article-link" href="tel:+16787870981"><b>US:</b> +1 678 787 0981 &nbsp;<i class="fa fa-long-arrow-right article-link-icon"></i></a> -->
            </article>
            <article class="article">
                <!-- <img class="img-fluid img" width="200px" src="assets/p3_gapminder.gif" alt="Meet Naoto and Cynthia"/> -->
                <i class="fa fa-solid fa-chart-simple fa-xl article-icon p-2"></i>
                <h5 class="article-description"><b>Analysis and Visualization of Data</b></h5>
                <p class="article-details">Make informed decisions by identifying trends, measuring performance, and revealing insights from complex information in an easily understandable format.</p>
            </article>
            <article class="article">
                <i class="fa fa-solid fa-robot article-icon p-2"></i>
                <h5 class="article-description"><b>Development of Generative AI Solutions</b></h5>
                <p class="article-details">Automate creative processes, generate personalized content, and provide innovative solutions to enhance efficiency and customer experiences.</p>
            </article>
            <article class="article">
                <i class="fa fa-solid fa-file-lines article-icon p-2"></i>
                <h5 class="article-description"><b>Documentation Services and Language Translation</b></h5>
                <p class="article-details">We can provide documentation service for your software by ensuring clear, accurate, and user-friendly technical documentation, enhancing product usability and customer satisfaction.</p>
            </article>
            <article class="article">
                <i class="fa fa-solid fa-pen-nib article-icon p-2"></i>
                <h5 class="article-description"><b>Designing Graphics</b></h5>
                <p class="article-details">Improve your business by improving user interface design and making applications more visually appealing and intuitive, thereby improving user experience and engagement.</p>

            </article>
        </div>
        <!-- <article class="testimonial-grid">
            <div>
                <h2 >1. Client-Centric Approach</h2>
                <p class="position">We will work with you to clarify and focus your product to prevent feature crawl from an early stage of your business. We will help you identify your goals and target customers, and enable fast iteration and increase efficiency.</p>
            </div>
            <img class="img-fluid img" src="assets/green-cubes.gif" alt="Meet Naoto and Cynthia"/>
        </article>
        <article class="testimonial-grid ">
            <img class="img-fluid img" src="assets/green-cubes.gif" alt="Meet Naoto and Cynthia"/>
            <div >
                <h2 >2. Innovative Solutions</h2>
                <p class="position">By prioritizing continuous learning and exploration, we ensure that our team is well-versed in the latest technologies and trends, allowing us to deliver cutting-edge solutions that meet the evolving needs of our clients in today's dynamic and rapidly changing digital landscape</p>
            </div>
        </article>
        <article class="testimonial-grid">
            <div >
                <h2 >3. Communication and Transparency</h2>
                <p class="position"> transparent communication is ingrained in our ethos. We prioritize clear, open lines of communication to keep our clients informed at every stage of the project. Coupled with our commitment to cost-effectiveness, this ensures that our clients not only receive high-quality solutions but also have a clear understanding of the value they're receiving, fostering trust and successful, budget-conscious collaborations.</p>
            </div>
            <img class="img-fluid img" src="assets/green-cubes.gif" alt="Meet Naoto and Cynthia"/>
        </article> -->
    </main>
</div>