<app-menu></app-menu>

<div class="container d-flex align-items-center justify-content-center">
    <img class="img-fluid img" src="assets/about-us-1.JPG" alt="Meet Naoto and Cynthia"/>
    <h1 class="centered">About Us</h1>
</div>
<div id="my-element" class="container manifesto d-flex flex-column z-depth-2">
    <p class="prefix pb-1">About Garlic Consulting</p>
    <h1 class="text pb-2">Manifesto</h1>
    <h3 class="secondary-text pb-5">We Add Flavor To Your Projects</h3>
    <h5 class="text">Our Goal</h5>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br>
            Rhoncus urna neque viverra justo nec ultrices. Porta lorem mollis aliquam ut porttitor leo a diam. Eget felis eget nunc lobortis mattis aliquam faucibus. Tincidunt dui ut ornare lectus sit amet. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan. <br><br>
            At consectetur lorem donec massa. Scelerisque in dictum non consectetur a erat. Dolor morbi non arcu risus quis varius quam quisque. Amet purus gravida quis blandit turpis cursus. Amet consectetur adipiscing elit ut aliquam purus sit amet luctus. Tristique senectus et netus et malesuada. Amet volutpat consequat mauris nunc congue nisi vitae suscipit. Suspendisse in est ante in nibh. Enim lobortis scelerisque fermentum dui faucibus in. At tellus at urna condimentum mattis pellentesque id. Orci ac auctor augue mauris. Cursus eget nunc scelerisque viverra mauris. Eros in cursus turpis massa tincidunt. Lacus vel facilisis volutpat est velit egestas dui id ornare. Fringilla urna porttitor rhoncus dolor purus non. Massa sapien faucibus et molestie ac. Eget sit amet tellus cras adipiscing. Ut porttitor leo a diam sollicitudin tempor id eu. Feugiat in ante metus dictum at tempor commodo ullamcorper a.</p>    
</div>
<div class="container d-flex align-items-center justify-content-center pt-2 pb-2 mt-5">
    <div class="row">
        <h1 class="text">The Team</h1>
    </div>
</div>
<div class="container about-me d-flex flex-row">
    <app-about-me class="about" name="Cynthia" title="@cynthialmy | Co-founder" link="https://cynthialmy.github.io" imgSrc="assets/cynthia.JPG" description="Loves Naoto, Jiji, eating, and coffee."></app-about-me>
    <app-about-me class="about" name="Naoto" title="@otoaneba | Co-founder" link="https://github.com/otoaneba" imgSrc="assets/naoto.JPG" description="Loves Cynthia, Jiji, and cooking."></app-about-me>
    <app-about-me class="about" name="Jiji" title="Office cat" imgSrc="assets/jiji.JPG" description="Loves to eat. Professional napper."></app-about-me>
</div>




